
@{
    ViewBag.Title = "Order Placed";
}

<style>

    .container
    {
        display:flex;
        justify-content:center;
        align-items:center;

       margin-top:100px;


    }

</style>

<div class="container">
    <h2>Thank you!</h2>
    <p>Your order has been placed successfully. We’ll notify you once it’s shipped.</p>
    <a asp-controller="Product" asp-action="AllProducts">Continue Shopping</a>
</div>

