@using HeartsDesireLuxury.Core.DTO
@model IEnumerable<InventoryResponse>
@{
    ViewBag.Title = "Inventory";
}

@* <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" /> *@

<h1>All Inventory</h1>

<a asp-controller="Inventory" asp-area="Admin" asp-action="AddInventory">Add Inventory</a>

