
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            background-color: #fff;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #e1f5e1;
        }

        td {
            font-size: 14px;
        }

button.category-btn a {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}
           button.category-btn{
               border:none;
           }
         button.edit {
           background-color: #4CAF50;
           border: none;
           color:#fff;
           }

            button:hover {
                opacity: 0.8;
            }
            button.delete-btn {
                background-color:red;
                border:none;
                color:#fff;
            }

        caption {
            font-size: 18px;
            font-weight: bold;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
        }